@import "bootstrap/dist/css/bootstrap.min.css";
.para{
    color: red;
}
.fd{
    background-color: royalblue;
}
#sd{
    background-color: brown
}
/* .commantform{
    color: chocolate;
} */
#idComment{
    color: darkgoldenrod;
    background-color: darkgreen;
}
/* .img-fluid{
    height: 350px;
    width: 250px;
} */
.eagle{
    height: 400px;
    width: 500px;
}
.text-yellow{
    color: chartreuse;
    text-align: center;
}

