<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  <!-- <img src="2.jpg" class="img-fluid" alt="..."> ask about image -->

  <p class="para">siddharth</p>
  <div class="fd">
    <div id ="sd">
      <p>siddharth singh</p>
    </div>
    <p>HELLO</p>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="form-floating commantform" id="idComment">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Comments</label>
  </div>

  <!-- grid -->
  <div class="row">
    <div class="col-md">
      hii its you
    </div>
    <div class="col-md">
      hii it me
    </div>
    <div class="col-xl">
      <!-- <img src="1.png" alt="..."> this also not working-->
    </div>
  </div>

</body>
</html>