<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
 

<!-- grid -->
<div class="row">
 
  <div class="col-md">
    <img src="./assets/1.png" class="img-fluid" alt="...">
  </div>
 
  <div class="col-md ">
    
    <div class="card bg-dark text-yellow">
      <img class="card-img" src="./assets/eagle.jpg" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">Eagle</h5>
        <p class="card-text">This is an Eaggle
          </p>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
 
  <div class="col-md">
    <img src="./assets/2.jpg" class="img-fluid" alt="...">
  </div>
</div>

  <p class="para">siddharth</p>
  <div class="fd">
    <div id ="sd">
      <p>siddharth singh</p>
    </div>
    <p>HELLO</p>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="fid" placeholder="1234..">
    <label for="floatingInput">Enter A Number</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="sid" placeholder="1234..">
    <label for="floatingInput">Enter B Number</label>
  </div>
  <p id="result"></p>
   <button type="button" class="btn btn-primary" (click)="sum()">Add</button>
  <div class="form-floating commantform" id="idComment">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Comments</label>
  </div>
  

  <!-- grid -->
  <div class="row">
    <div class="col-md">
      hii its you
    </div>
    <div class="col-md">
      hii it me
    </div>
    <div class="col-xl">
      <img src="./assets/2.jpg" alt="..."> 
      <!-- this also not working -->
    </div>
  </div>

</body>
</html>